.carlos {
    width: 50%;
    height: auto;
    border-radius: 20%;
    margin-top: 5%;
    padding: 1rem;
    box-shadow: 0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.contacto {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    font-size: 40px;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.texto p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
    padding: 4%;
}