.navbar{
    background-color:#739fce00;
     .ancho-restringido{
        max-width: 1100px;
     }
    .navbar-collapse{
        justify-content: flex-end;
    }
    .logo-arriba {
        width: 190px;
        height: 190px;
    }
    .nav-link {
      color: $blanco;
    }
    .navbar-nav .nav-link.active {
        color: $blanco;
    }
 }